img{
  max-width: 100%;
  height: auto;
}
.characters{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff000;
}
.ilbuni{
  width: 100px;
  cursor: pointer;
}
.characters .ilbuni{
  display: inline-block;
}
.special{
  /* 빨간색 점선 */
  border: 10px dashed red;
}
